<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <p style="font-size: 30px; margin-bottom: 0px;">COMPANY</p>
            <div class="accb1" onclick="accfunc1(this)">
                <p style="margin-bottom: 0px;" >Random Selection</p>
            </div>
            <div class="accb2">
                <p style="margin-bottom: 0px;" >Outstanding Voice</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Certificates and driver list</p>
            </div>
            <div class="accb4">
                <p style="margin-bottom: 0px;" >Online drugs test Order</p>
            </div>

            <p  class="mt-4" style="font-size: 30px; margin-bottom: 0px;">TOOLS</p>
            <div class="accb1" onclick="accfunc1(this)">
                <p style="margin-bottom: 0px;" >Express Labs Consortium FAQ's</p>
            </div>
            <div class="accb2">
                <p style="margin-bottom: 0px;" >Adding Drivers Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Deactivating Drivers Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Random Testing Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Drug Testing Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Alcohol Testing Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Supervisor Training Course</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Positive Results Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Return-to-Duty & Follow-up Testing</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Account Update Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Paying Invoices for Testing Fees</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Audit Requirements & Resources</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Refusal-to-Test Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Post-Accident Requirements</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Clearinghouse - Registration</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Clearinghouse - Query Instructions</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Clearinghouse - Reporting Violations</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Add Non-DOT Drug Testing Account</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >2022 MIS Report</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Observed Collections</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Order Drug Testing Forms</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Drug & Alcohol Policy</p>
            </div>
            <div class="accb3">
                <p style="margin-bottom: 0px;" >Correct Drug Test Results</p>
            </div>
            <div class="accb4">
                <p style="margin-bottom: 0px;" >Terms and Conditions</p>
            </div>
        </div>
    </div>
</div>