<div class="container mt-3 container1">
    <div class="box1">
        <p class="curr1" >1</p>
        <p style="font-size: 12px;">CONTACT INFO</p>
    </div>
    <div class="linebox">
        <div class="line"></div>
    </div>
    <div class="box1">
        <p class="curr1" >2</p>
        <p style="font-size: 12px;">MEMBERSHIP</p>
    </div>
    <div class="linebox">
        <div class="line"></div>
    </div>
    <div class="box1">
        <p class="curr1" >3</p>
        <p style="font-size: 12px;">ADD DRIVERS</p>
    </div>
    <div class="linebox">
        <div class="line"></div>
    </div>
    <div class="box1">
        <p class="curr1" >4</p>
        <p style="font-size: 12px;">PAYMENT</p>
    </div>
    <div class="linebox">
        <div class="line"></div>
    </div>
    <div class="box1">
        <p class="curr1" >5</p>
        <p style="font-size: 12px;">REVIEW</p>
    </div>
</div>
