<div class="nav1">
    <div class=" navbar-container container">
        <div class="container nav-bar">
            <div class="text-center">
                <a href="/" style="text-decoration: none;"><p class="logo"><b>EXPRESS LABS</b></p></a>
                
                <p class="logo1">DOT DRUG & ALCOHOL CONSORTIUM</p>
            </div>
        </div>
        <div class="member-box " style="text-align: right;">
            <form action="/login" method="get">
                <button type="button" class="btn btn-success">Member Login</button>
            </form>
            <p style="margin-bottom: 0px;">986574865655</p>
            <a href="mailto:vedprakash182001@gmail.com">vedprakash182001@gmail.com</a>

        </div>
    </div>
</div>
    <div class="nav2"></div>



<nav class="navbar navbar-expand-lg navbar-light bg-light ">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav text-center nav3">
    <li class="nav-item ">
        <a class="nav-link" style="color: blue;" href="/about">About<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: blue;"href="/contact">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"style="color: blue;" href="/frequentlyAskedQuestions">Frequently Asked Questions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"style="color: blue;" href="/testimonials">Testimonials</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"style="color: blue;" href="/signup1">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: blue;" href="/memberLogin">Member Login</a>
    </li>
    </ul>
</div>
</nav>



