<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}

    <div class="container">
        <div class="img1">
            <img src="/statics/images/1.jpg" alt="Tree Image">
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <p style="font-size:27px">Express Labs helps Keep the Roads Safe for Everyone</p>
                <hr>
                <p style="font-weight: 900;  font-size:20px">Simple, Easy & Affordable to Stay in Compliance</p>
                <div class="ps-3">
                    <ul>
                        <li><p>Nations Largest Consortium for CDL Drivers with 27,000+ Drivers in the Random Pool</p></li>
                        <li><p>Access to over 20,000 Collection Sites Nationwide</p></li>
                        <li><p>Online Ordering for Drug Testing - No Forms Necessary</p></li>
                        <li><p>Complete Online Access to your Account</p></li>
                        <li><p>Drug & Alcohol Policy Included with your Membership</p></li>
                        <li><p>Audit & Inspection Support Included with your Membership</p></li>
                        <li><p>Express Labs provides Customer Support 24 Hours, 365 Days a Year</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about1 text-center py-3">
                    <p style="font-weight: 900;  font-size:25px">24/7 Customer Service</p>
                    <hr>
                    <p>Call Toll Free</p>
                    <p style="font-weight: 500;  font-size:25px">800-341-1185</p>
                </div>
                <div class="about2 text-center py-3 mt-4">
                    <p style="font-weight: 900;  font-size:25px">Sign Up Today</p>
                    <hr>
                    <p>Only</p>
                    <p style="font-weight: 500;  font-size:25px">$99 for 1 Year</p>
                    {{#if status}}
                        <form action="/signup2" method="get">
                            <button type="submit" class="btn btn-success">Join the DOT Consortium</button>
                        </form>
                    {{else}}
                        <form action="/signup1" method="get">
                            <button type="submit" class="btn btn-success">Join the DOT Consortium</button>
                        </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
      <hr>
    </div>
    {{>footer}}
    {{>script}}
  </body>
</html>