<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}

    <div class="container">
      <div class="acc1">
        <div class="acc2">
          <a href="./">Order Drugs Test</a>
        </div>
      </div>
      
    </div>
    {{>account1}}

    <div class="container my-5">
      <hr>
    </div>
    {{>footer}}
    {{>script}}
  </body>
</html>