<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center mt-5" style="display: none;">Invalid user. Please, try again.</p>
                <p class="text-center mt-4" style="font-size: 35px; font-weight:300" >Recover Password</p>
                <p>Please enter your email address. A password reset link will be emailed to you.</p>
                <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
                </div>
                <div style="align-content: right;">
                    <button type="submit" class="btn btn-success">Recover</button>
                </div>
             </form>
            </div>
            
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container my-5">
      <hr>
    </div>
    {{>footer}}
    {{>script}}
  </body>
</html>