<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}


    <div class="container mt-3 container1">
        <div class="box1">
            <p class="curr1a" >1</p>
            <p style="font-size: 12px;">CONTACT INFO</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1" >2</p>
            <p style="font-size: 12px;">MEMBERSHIP</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1" >3</p>
            <p style="font-size: 12px;">ADD DRIVERS</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1" >4</p>
            <p style="font-size: 12px;">PAYMENT</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1" >5</p>
            <p style="font-size: 12px;">REVIEW</p>
        </div>
    </div>




    <div class="container">
        <p style="font-size: 25px; margin-bottom:0px">Primary Contact Person</p>
        <p>Designated Employee Representative (DER)</p>
        <hr>
        <p style="font-size: 12px;" ><b style="color: red;">*</b> Denotes required field</p>
        <form action="/signup1" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">First Name <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="fname" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label  class="form-label">Title (Optional)</label>
                                <input type="text" class="form-control" name="title">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label  class="form-label">Phone</label>
                                <input type="number" class="form-control" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">New Password <b style="color: red;">*</b></label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Last Name <b style="color: red;">*</b></label required>
                        <input type="text" class="form-control" name="lname">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Email <b style="color: red;">*</b></label>
                        <input type="email" class="form-control" name="email" required >
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Confirm Password <b style="color: red;">*</b></label>
                        <input type="password" class="form-control" name="cpassword" required>
                    </div>
                </div>
            </div>
            <p class="mt-5" style="font-size: 30px;" >Company Information</p>
            <hr>
            <div class="mb-3">
                <label  class="form-label">Company Name <b style="color: red;">*</b></label>
                <input type="text" class="form-control" name="cname" required>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">DOT Authority Number</label>
                        <input type="text" class="form-control" name="dotnumber">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Phone <b style="color: red;">*</b></label>
                        <input type="number" class="form-control" name="cphone" required>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Address 1 (May not be P.O. Box Addresses)</label>
                        <input type="text" class="form-control" name="address1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Fax</label>
                        <input type="number" class="form-control" name="fax">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Address 2</label>
                        <input type="text" class="form-control" name="address2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label  class="form-label">City <b style="color: red;">*</b></label>
                        <input type="text" class="form-control"name="city" required>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Referred By (optional)</label>
                        <input type="text" class="form-control" name="referred">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label  class="form-label">State <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="state" required >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label  class="form-label">Zip Code <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" name="zipcode" required>
                    </div>
                </div>
            </div>
            <div style="align-content: flex-end;">
                <button type="submit" class="btn btn-success">Choose Membership >></button>
            </div>
        </form>
    </div>


    <div class="container my-5">
      <hr>
    </div>
    {{>footer}}
    {{>script}}
  </body>
</html>