<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}


    <div class="container mt-3 container1">
        <div class="box1">
            <p class="curr1" >1</p>
            <p style="font-size: 12px;">CONTACT INFO</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1" >2</p>
            <p style="font-size: 12px;">MEMBERSHIP</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1a" >3</p>
            <p style="font-size: 12px;">ADD DRIVERS</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1" >4</p>
            <p style="font-size: 12px;">PAYMENT</p>
        </div>
        <div class="linebox">
            <div class="line"></div>
        </div>
        <div class="box1">
            <p class="curr1" >5</p>
            <p style="font-size: 12px;">REVIEW</p>
        </div>
    </div>




    <div class="container mt-4">
        <p style="font-size: 30px; font-weight:500" >Add Drivers</p>
        <p>Upon Enrolling in the Consortium you can Add All your Active Drivers that have Negative Pre-Employment DOT Drug Test Results and have been in a Random Pool within the Previous 30 Days. DOT Requires a New Pre-Employment Drug Test if a Driver is not in a Random Pool for more than 30 Days.</p>
        <div class="row mt-5">
            <div class="col-md-3"><p>First Name</p></div>
            <div class="col-md-3"><p>Last Name</p></div>
            <div class="col-md-1"><p>SSN</p></div>
            <div class="col-md-2"><p>CDL State</p></div>
            <div class="col-md-2"><p>CDL Number</p></div>
        </div>
        <form action="/signup3" method="post">
            
            <div>
                <div id="newdriver">
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="text" class="form-control"   placeholder="First Name" name="fname" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="text" class="form-control"   placeholder="Last Name" name="lname" required>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="mb-3">
                                <input type="text" class="form-control"   placeholder="SSN" name="ssn" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-3">
                                <input type="text" class="form-control"   placeholder="CDL State" name="cdlstate" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-3">
                                <input type="text" class="form-control"   placeholder="DL Number" name="dlnumber" required>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success mb-3" style="width: 100%;" onclick="makeNewDriver(this)" >Click Here to add More Drivers</button>
            </div>
            <input type="checkbox" name="" id="" class="mr-3" required >Click Here to Confirm the Drivers Listed Above have Negative DOT Pre-Employment Drug Test Results - Then Click Finished Adding Drivers below.
            <p class="mt-3 ms-2">If you are Not Adding Drivers - Click Finished Adding Drivers Below.</p>
            <button type="submit" class="btn btn-success">Finish Adding Driver</button>
        </form>

    </div>



    <div class="container my-5">
      <hr>
    </div>
    {{>footer}}
    {{>script}}
    <script>
        
        function makeNewDriver(a){
            document.getElementById("newdriver").insertAdjacentHTML("beforeend",
                `<div class="row mt-2">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <input type="text" class="form-control"   placeholder="First Name" name="fname" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <input type="text" class="form-control"   placeholder="Last Name" name="lname" required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mb-3">
                            <input type="text" class="form-control"   placeholder="SSN" name="ssn" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <input type="text" class="form-control"   placeholder="CDL State" name="cdlstate" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <input type="text" class="form-control"   placeholder="DL Number" name="dlnumber" required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger" onclick="deleteDriver(this)">x</button>
                    </div>
                </div>`);
        }
        function deleteDriver(a){
            var par = a.parentNode.parentNode;
            par.remove();
        }
    </script>
  </body>
</html>