<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}

    <p>No Content is Available</p>
    <div class="container my-5">
      <hr>
    </div>
    {{>footer}}
    {{>script}}
  </body>
</html>