<!doctype html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}

    <div class="container">
        <div class="img1">
            <img src="/statics/images/1.jpg" alt="Tree Image">
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <p style="font-size:27px">Testimonials</p>
                <hr>
                <p><b>Affordable CDL Training School - Michele S.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">We are a CDL Training School and we own a Trucking Company, we have a high volume of students.  While enrolled in our program students must have pre-employment drug screens and be enrolled in a Random.  The first Company we used couldn't handle the frequent volume of students and made many mistakes.  We switched to Express Labs years ago, and it was the best decision that we could have made.  Their prices are great.  They do an excellent job.  Not only with day to day normal business, but with every aspect.  We had a Federal Audit and Express Labs could not have been more helpful.  He was there for us and made sure we had what we needed.  Great Company to do Business with.</p></li>
                </ul>

                <p><b>M & Y Tours, Inc. - Edward S.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">Express Labs is one of the best companies I've ever worked with.  Their services are fantastice and fast which makes them very desirable as a company.  You could contact them at any time of the day and they'll reply in a very quick manner.  This is the service that anyone would want for the drug testings!  If you have any questions, it would be resolved.  I love this company and would recommend people.</p></li>
                </ul>

                <p><b>J & M Displays - John W.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">We have been a member with Express Labs since 2012.  They are easy to work with and do a great job in managing the consortium.  They help you when you have questions and they are quick in replying.  We have been very satisfied with our service from Express Labs.  Any company that needs to have employees in a random pool should take a look at Express Labs!</p></li>
                </ul>

                <p><b>1 Touch Towing - Michael R.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">I've been with Express Labs for 10+ years and the crew at Express Labs are the greatest!  Express Labs has always been there for us.  Every time I call or email those guys are alway there and very willing to help me.  I have seen times when I had a question after hours and Express Labs was there to help.</p></li>
                </ul>

                <p><b>Waldo Bros., Company - Wayne P.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">Excellent company, they are proactive in ensuring that we are properly in compliance, very quick to respond to questions and/or concerns.  They are a good partner for our company!</p></li>
                </ul>

                <p><b>University of Hawaii Marine Center - Merlita</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">I have been very satisfied with the service received from Express Labs.  On every occasion when there is a question or problem arises, the response has always been quick and in a professional manner.</p></li>
                </ul>

                <p><b>Town of Discovery Bay - Sue H.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">Express Labs, Inc. DOT Drug and Alcohol Testing Consortium is an inexpensive program that has helped us manage the complex requirements of complying with federal and state random drug and alcohol testing regulations.  They manage everything for you and the Express Labs Team is extremely professional and knowledgeable.  Wonderful team of people who make it easy and will assist with any question that arises.</p></li>
                </ul>

                <p><b>New Life Bible Fellowship Church - Jim M.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">Express Labs is Great!  I love all the online tools they offer.  I can manange my account at any time.  Anytime I do have a question I shoot them an email and they always get back to me in a timely manner.  I would recommend them.</p></li>
                </ul>

                <p><b>LCI-Lineberger Construction, Inc. - Kim L.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">Great Company to work with!  Professional Service!</p></li>
                </ul>

                <p><b>Proffitt Excavating & Grading, Inc. - Eudora P.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">The company representatives have served my trucking company very well for many years.  I recommend them when I have the opportunity to do so.  Thank you!</p></li>
                </ul>

                <p><b>New Connect Logistics, Inc. - Karen L.</b></p>
                <ul class="ms-3">
                    <li><p style="text-align: justify; text-justify: inter-word; font-size:14px">Excellent Customer Service, User Friendly & Easy Access to Online Service.</p></li>
                </ul>

            </div>
            <div class="col-md-4">
                <div class="about1 text-center py-3">
                    <p style="font-weight: 900;  font-size:25px">24/7 Customer Service</p>
                    <hr>
                    <p>Call Toll Free</p>
                    <p style="font-weight: 500;  font-size:25px">800-341-1185</p>
                </div>
                <div class="about2 text-center py-3 mt-4">
                    <p style="font-weight: 900;  font-size:25px">Sign Up Today</p>
                    <hr>
                    <p>Only</p>
                    <p style="font-weight: 500;  font-size:25px">$99 for 1 Year</p>
                    <form action="/login" method="get">
                        <button type="button" class="btn btn-success">Join the DOT Consortium</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
      <hr>
    </div>
    {{>footer}}
    {{>script}}
  </body>
</html>